.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @media screen and(max-width: 480px) {
    width: 100%;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-overlay {
  height: auto;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mobile@2x.jpg");
  }

  @media screen and(min-width: 480px) {
    max-width: 767px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-tablet@2x.jpg");
    }
  }

  @media screen and(min-width: 768px) {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-desctop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-desctop@2x.jpg");
    }
  }
}
