.logo {
  // padding-top: 24px;
  // padding-bottom: 24px;
  // margin-right: 93px;

  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;

  color: $accentColor;

  @media screen and(min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }

  &--black {
    color: $titleColor;
  }

  &--white {
    color: $primaryWhiteColor;
  }
}
