.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $titleColor;

  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
    color: $primaryWhiteColor;
  

  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
