
$primaryWhiteColor: #ffffff;
$titleColor: #212121;
$textPrimaryColor: #757575;
$linkFooterColor: rgba(255, 255, 255, 0.6);
$backgroundSecondaryColor: #f5f4fa;
$backgroundFooterColor: #2f303a;
$accentColor: #2196f3;
$socLinkPrimaryColor: #afb1b8;

$primaryBorderRadius: 4px;
$fullRoundBorderRadius: 50%;